<div class="experience-section">

    <h1>Expériences professionelles</h1>

    {% for element in experiences %}

    <div class="exp-thumbnail">

        <div class="exp-date">

            <div class="top-line"></div>

            <div class="block-date">
                <div class="date-info">{{ element.datestart }}</div>
                <div class="right-line"></div>
            </div>

            <div class="bottom-line"></div>

        </div>

        <div class="exp-info">
            <h2>{{ element.company }}</h2>
            <h3>{{element.job}}, {{ element.city }} - {{ element.time }}</h3>
            <p class="exp-description">{{element.description}}</p>

        </div>

    </div>

    {% endfor %}


</div>