<div class="techno-section">

    <h1>Technologies</h1>

    <div class="techno-list">

        <div class="techno-item">
            <img src="{{ asset('assets/img/htmllogo.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/csslogo.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/jquery.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/bootstrap.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/php.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/symfony.png') }}" alt="" class="imgFluid">
        </div>

        <div class="techno-item">
            <img src="{{ asset('assets/img/mysql.png') }}" alt="" class="imgFluid">
        </div>

    </div>


</div>